/* 导航栏 */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 52.99px;
  border-bottom: 1px solid #2b3540;
  background: #1e202f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 a {
  display: block;
  /* 长宽改小大概1/3吧  */
  width: 82px;
  height: 36px;
  background: url(../img/logo1.png) no-repeat;
  background-size: 100% 100%;
  text-indent: -999px;
  overflow: hidden;
  margin-right: 20px;
}

.container {
  position: relative;
  width: 960px;
  height: 69.99px;
  display: flex;
}

.container .menu {
  display: flex;
}

.container .menu>li {
  position: relative;
  border-bottom: 3px solid transparent;
  margin-right: 10px;
}

.container .menu>li:hover {
  border-bottom: 3px solid #fff;
}

.container .menu>li>a {
  display: block;
  width: 55px;
  height: 67.99px;
  line-height: 69.99px;
  text-indent: 5px;
  color: #fff;
  font-size: 14px;
}

/* 中心旋转的话应该用图片的，用成图标了，遗憾离场 */
.container .menu>li>a i {
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
  right: -3px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.4);
  display: inline-block;
  transition: all 0.3s;
  transform-origin: center center;
  /* 加了个这个就可以转了 */
  pointer-events: none;
}

.container .menu>li:hover>a i {
  transform: translateY(-50%) rotate(180deg);
}

.container .dropdown-content {
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  background: #1e202f;
  /* ？ */
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.container .dropdown-content img {
  width: 100px;
  height: 100px;
}

.container .dropdown-content li a {
  display: block;
  width: 150px;
  height: 35px;
  line-height: 35px;
  padding-left: 8px;
  color: #fff;
  font-size: 16px;
}

.container .menu>li:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  border-bottom: 2px solid #fff;
}

.container .order {
  position: absolute;
  top: 35.99px;
  transform: translateY(-50%);
  right: 10px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 255.31px;
  height: 52.99px;
}

.container .order a {
  display: block;
  text-align: center;
  font-size: 14px;
}

.container .order .login {
  width: 60.01px;
  height: 23.73px;
  line-height: 23.73px;
  color: #FF9900;
}

.container .order .login:hover {
  color: #f9ae3e;
  text-decoration: underline;
}

.container .order .download {
  width: 63.15px;
  height: 27.99px;
  line-height: 27.99px;
  color: #fff;
  background: #FF9900;
}

.container .order .download:hover {
  background: #f9ae3e;
}

.container .order .int:hover {
  background: #454756;
}

.container .order .int {
  width: 80px;
  height: 27.99px;
  line-height: 27.99px;
  color: #fff;
  background: #393b4d;
}

/* 侧边栏 */
.sidebar {
  position: fixed;
  top: 35%;
  right: 0;
  z-index: 9999;
}

.sidebar li {
  transform: translateX(87.75px);
}

.sidebar li a:hover {
  transform: translateX(-54.75px);
}

.sidebar li a {
  display: block;
  width: 130px;
  display: flex;
  transition: all 0.3s ease-in-out;
}

/* 为什么不能用class 选择器？ */
.sidebar li .box {
  width: 42px;
  height: 37px;
  background: url(../img/side.jpg) no-repeat;
  background-size: 522.5px 598.5px;
  background-position: -242px -83px;
}

.sidebar li .box1 {
  background-position: -241px -132px;
}

.sidebar li .box2 {
  background-position: -240px -188px;
}

.sidebar li .box3 {
  background-position: -241px -245px;
}

.sidebar li .box4 {
  background-position: -240px -298px;
}

.sidebar li img {
  height: 37px;
  width: 54.75px;
}