.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 69.99px;
  border-bottom: 1px solid #2b3540;
  background: #1e202f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 a {
  display: block;
  width: 109.99px;
  height: 47.99px;
  background: url(../img/logo1.png) no-repeat;
  background-size: 100% 100%;
  text-indent: -999px;
  overflow: hidden;
  margin-right: 25px;
}

.container {
  position: relative;
  width: 1140px;
  height: 69.99px;
  display: flex;
}

.container .menu {
  display: flex;
}

.container .menu>li {
  position: relative;
  border-bottom: 3px solid transparent;
  margin-right: 25px;
}

.container .menu>li:hover {
  border-bottom: 3px solid #fff;
}

.container .menu>li>a {
  display: block;
  width: 46px;
  height: 67.99px;
  line-height: 69.99px;
  text-indent: 5px;
  color: #fff;
  font-size: 18px;
}


.container .dropdown-content {
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  background: #1e202f;
  opacity: 0;
  /* 透明 */
  visibility: hidden;
  /* 隐藏 */
  transition: all 0.3s ease-in-out;
}

.container .dropdown-content li a {
  display: block;
  width: 150px;
  height: 35px;
  line-height: 35px;
  padding-left: 8px;
  color: #fff;
  font-size: 16px;
}

.container .menu>li:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  border-bottom: 2px solid #fff;
}

.container .order {
  position: absolute;
  top: 35.99px;
  transform: translateY(-50%);
  right: 10px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 255.31px;
  height: 52.99px;
}

.container .order a {
  display: block;
  text-align: center;
  font-size: 17px;
}

.container .order .login {
  width: 60.01px;
  height: 23.73px;
  line-height: 23.73px;
  color: #FF9900;
}

.container .order .login:hover {
  color: #f9ae3e;
  text-decoration: underline;
}

.container .order .download {
  width: 85.15px;
  height: 34.99px;
  line-height: 34.99px;
  color: #fff;
  background: #FF9900;
}

.container .order .download:hover {
  background: #f9ae3e;
}

.container .order .int:hover {
  background: #454756;
}

.container .order .int {
  width: 120px;
  height: 34.99px;
  line-height: 34.99px;
  color: #fff;
  background: #393b4d;
}