html,
body {
  overflow: hidden;
  height: 100%;
}

.screen-wrap {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.screen-wrap::-webkit-scrollbar {
  display: none;
}

.screen {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  scroll-snap-align: start;
}

.video-bg {
  transform: scale(1.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.logo2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  width: 250px;
  z-index: 1;
}

.start {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 1;
  background-color: transparent;
}

.start .start-a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 20px;
  text-align: center;
  letter-spacing: 5px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 9px;
}

.start:hover .start-a {
  color: black;
  background-color: #af8506;
}

.screen-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  z-index: 1;
}

.title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 375px;
  z-index: 2;
}

/* 瀑布 */

.water {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 800px;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 160px;

}

.item a {
  position: relative;
}

.item img {
  display: block;
  width: 100%;
}

.water a .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 4;
}

.water a:hover .overlay {
  opacity: 0;
}